@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Yipes';
    src:
            url('/fonts/yipes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yipes';
    src:
            url('/fonts/yipes-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src:
            url('/fonts/poppins-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src:
            url('/fonts/poppins-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src:
            url('/fonts/poppins-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    @apply m-0 p-0 box-border font-poppins scroll-smooth;
}

.bg-blue-pattern {
    background-image: url('/images/blue_pattern.webp');
}

.hidden-on-load {
    opacity: 0;
    transform: translateY(-20px);
}

.hidden-skill {
    opacity: 0;
    transform: translateY(50px);
}

.projectCard {
    &__image {
        @apply hidden xl:block transform transition duration-500 ease-out opacity-0 scale-90;
    }

    &:hover {
        .projectCard__image {
            @apply opacity-100 scale-100;
        }
    }
}

$animationSpeed: 40s;

.slider {
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-351px * 7))}
    }
    @apply bg-dark;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 160px;
    margin: auto;
    overflow:hidden;
    position: relative;

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(351px * 14);
    }

    .slide {
        @apply flex items-center gap-8 px-4;
        height: 160px;
        width: 351px;
    }
}

.slider-home {
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-357px * 7))}
    }
    @apply bg-dark;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 160px;
    margin: auto;
    overflow:hidden;
    position: relative;

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(357px * 14);
    }

    .slide {
        @apply flex items-center gap-8 px-4;
        height: 160px;
        width: 357px;
    }
}

body, html {
    cursor: none;
    overflow-x: hidden;
}

#custom-cursor {
    position: fixed;
    width: 4px;
    height: 4px;
    background-color: #7a88b7;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

#custom-cursor-circle {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid #7a88b7;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease-out, height 0.2s ease-out;
}

.link-hover #custom-cursor {
    width: 6px;
    height: 6px;
}

.link-hover #custom-cursor-circle {
    width: 60px;
    height: 60px;
}
a {
    cursor: none;
}

.msg-wrapper {
    white-space: pre-wrap;
}
